@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root{
    --darkblue : hsl(233, 47%, 7%);
    --DesaturedBlue : hsl(244, 38%, 16%);
    --SoftViolet : hsl(277, 64%, 61%);
    --filter : hsl(277, 64%, 61%,0.466);
    --graymain : hsla(0, 0%, 100%, 0.466);
}

*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    background-color: var(--darkblue);
}

.container{
    padding: 100px 90px;
    @media (min-width :1360px){
        padding: 200px;
        display: flex;
        flex-direction: row-reverse;
    }
    .container__image{
        width: auto;
        height: auto;
        //background: linear-gradient(hsla(277, 64%, 61%, 0.466), hsl(277, 64%, 61%,0.466));
        @media (min-width :1360px){
            width: 50%;
            height: auto;
        }
        .container__image__mobile{
            width: 100%;
            height: auto;
            display: block;
            //filter: var(--filter);
            @media (min-width :1360px){
                display: none;
            }
        }
        .container__image__desk{
            display: none;
            @media (min-width :1360px){
                display: block;
                width: 100%;
                height: 100%;
                //filter: var(--filter);
            }
        }
    }
    .container__content{
        background-color: var(--DesaturedBlue);
        padding: 40px;
        @media (min-width :1360px){
            width: 50%;
            height: auto;
        }
        .content__content{
            @media (min-width :1360px){
                margin:30px 50px 30px 30px;
                display: flex;
                flex-direction: column;
                justify-items: center;
            }
            .container__content__title{
                font-size: 30px;
                //max-width: 80%;
                margin: 0 auto;
                text-align: center;
                font-family: 'Inter';
                @media (min-width :1360px){
                    text-align: left;
                    font-size: 40px;
                }
                span{
                    color: var(--SoftViolet);
                }
            }
            .container__content__text{
                text-align: center;
                margin: 20px 0 50px 0;
                font-family: 'Lexend Deca';
                font-weight: normal;
                color: var(--graymain);
                line-height: 1.60;
                @media (min-width :1360px){
                    text-align: left;
                    font-size: 20px;
                }
            }
            .container__content__chiffres{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                @media (min-width :1360px){
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
                .container__content__chiffres__chiffre{
                    margin-bottom: 30px;
                    @media (min-width :1360px){
                        margin-bottom: 0px;
                    }
                    .container__content__chiffres__chiffre__span{
                        font-size: 30px;
                        font-family: 'Inter';
                        font-weight: bold;
                    }
                    .container__content__chiffres__chiffre__text{
                        margin-top: 10px;
                        color: var(--graymain);
                        font-family: 'Inter';
                        letter-spacing: 2px;
                    }
                }
            }
        }
    }
}